@model RapiCredit.Models.Solicitud

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de Solicitud</h2>
<h4>Solicitud</h4>
<hr />
<style>
    .cua {
        width: auto;
        background-color: white;
        color: black;
        border-radius: 15px;
        padding: 20px;
        margin: 20px;
    }
</style>
<div class="cua">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPrestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPrestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuotas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuotas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Volver a la Lista", "Index")
    </p>
</div>