@model List<RapiCredit.Models.ViewModels.ViewSolicitud>
@{
    ViewBag.Title = "Solicitud";
}

<h2>@ViewBag.Title</h2>

 <div class="row">
     <div class="col-md-9">
         <table class="table">
             <tr>
                 <th>#</th>
                 <th>Primer Nombre</th>
                 <th>Segundo Nombre</th>
                 <th>Primer Apellido</th>
                 <th>Segundo Apellido</th>
                 <th>DPI</th>


             </tr>
             @foreach (var E in Model)
             {
             <tr>
                 <td>@E.Id</td>
                 <td>@E.PrimerNombre</td>
                 <td>@E.SegundoNombre</td>
                 <td>@E.PrimerApellido</td>
                 <td>@E.SegundoApellido</td>
                 <td>@E.DPI</td>


             </tr>

             }
         </table>

     </div>


 </div>

