@model RapiCredit.Models.Cliente

@{
    ViewBag.Title = "Create";
}
<style>
    .cua {
        width: auto;
        background-color: white;
        color: black;
        border-radius: 15px;
        padding: 20px;
        margin: 20px;
    }

    button {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 12px 24px;
        border: 0px solid #273698;
        border-radius: 6px;
        background: #0924ba;
        background: -webkit-gradient(linear, left top, left bottom, from(#0924ba), to(#090e2e));
        background: -moz-linear-gradient(top, #0924ba, #090e2e);
        background: linear-gradient(to bottom, #0924ba, #090e2e);
        -webkit-box-shadow: #000000 -3px -3px 25px 10px;
        -moz-box-shadow: #000000 -3px -3px 25px 10px;
        box-shadow: #000000 -3px -3px 25px 10px;
        text-shadow: #17205a 1px 1px 1px;
        font: normal normal normal 20px georgia;
        color: #ffffff;
        text-decoration: none;
    }

        button:hover,
        button:focus {
            border: 0px solid #2e40b3;
            background: #0b2bdf;
            background: -webkit-gradient(linear, left top, left bottom, from(#0b2bdf), to(#0b1137));
            background: -moz-linear-gradient(top, #0b2bdf, #0b1137);
            background: linear-gradient(to bottom, #0b2bdf, #0b1137);
            color: #ffffff;
            text-decoration: none;
        }

        button:active {
            background: #051670;
            background: -webkit-gradient(linear, left top, left bottom, from(#051670), to(#090e2e));
            background: -moz-linear-gradient(top, #051670, #090e2e);
            background: linear-gradient(to bottom, #051670, #090e2e);
        }
</style>

<h2>Crear Nuevo Cliente</h2>
<h4>Ingrese los siguientes campos, todos los datos con * son obligatorios.</h4>

<hr />
<div class="cua">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(model => model.DPI, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>DPI *</h4>
                    @Html.EditorFor(model => model.DPI, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DPI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.PrimerNombre, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Primer Nombre *</h4>
                    @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.SegundoNombre, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Segundo Nonmbre *</h4>
                    @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.OtrosNombres, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Otros Nombres</h4>
                    @Html.EditorFor(model => model.OtrosNombres, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OtrosNombres, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.PrimerApellido, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Primer Apellido *</h4>
                    @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.SegundoApellido, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Segundo Apellido *</h4>
                    @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.ApellidoCasada, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Apellido de Casada</h4>
                    @Html.EditorFor(model => model.ApellidoCasada, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoCasada, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Fecha de Nacimiento</h4>
                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Telefono *</h4>
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Dirección de Domiciolio *</h4>
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <h4>Correo Electronico *</h4>
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit">Crear</button>
                </div>
            </div>
        </div>
    }

    <h4>
        @Html.ActionLink("Volver a la vista", "Index")
    </h4>
</div>